<div class="col-md-7 col-lg-7 col-md-offset-1 col-lg-offset-1">
    <h3>UPDATE BOOK</h3>

    <form class="form-inline">
        <div class="form-group">
           <input type="text" class="form-control" placeholder="BOOK NAME" ng-model="menu.updateNameBook">
            <input type="text" class="form-control" placeholder="AUTHOR NAME" ng-model="menu.updateNameBook">
            <input type="date" class="form-control" placeholder="DATA" ng-model="menu.updateNameBook">
            <button type="submit" class="btn btn-success"
                    ng-click="menu.updateBook(menu.updateNameBook, menu.updateNameBook, menu.updateNameBook)"><i
                    class="fa fa-plus-circle"></i> ADD BOOK
            </button>
        </div>
    </form>
</div>