<div class="container-fluid">
    <div class="col-md-2 col-lg-2 col-md-offset-1 col-lg-offset-1">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <h1>Menu</h1>
            <ul class="nav nav-pills nav-stacked">
                <li><a ui-sref="menu">Menu</a></li>
                <li class="active"><a ui-sref="books">Books</a></li>
            </ul>
        </div>
    </div>
    <div class="col-md-7 col-lg-7 col-md-offset-1 col-lg-offset-1">
        <h1>Books</h1>
        <p>TEST2 TEST2  TEST2 TEST2 TEST2 TEST2 TEST2 TEST2 TEST2 TEST2 TEST2 TEST2 TEST2 TEST2 TEST2</p>
        <p>TEST2 TEST2  TEST2 TEST2 TEST2 TEST2 TEST2 TEST2 TEST2 TEST2 TEST2 TEST2 TEST2 TEST2 TEST2</p>
        <p>TEST2 TEST2  TEST2 TEST2 TEST2 TEST2 TEST2 TEST2 TEST2 TEST2 TEST2 TEST2 TEST2 TEST2 TEST2</p>
        <p>TEST2 TEST2  TEST2 TEST2 TEST2 TEST2 TEST2 TEST2 TEST2 TEST2 TEST2 TEST2 TEST2 TEST2 TEST2</p>
        <p>TEST2 TEST2  TEST2 TEST2 TEST2 TEST2 TEST2 TEST2 TEST2 TEST2 TEST2 TEST2 TEST2 TEST2 TEST2</p>
        <p>TEST2 TEST2  TEST2 TEST2 TEST2 TEST2 TEST2 TEST2 TEST2 TEST2 TEST2 TEST2 TEST2 TEST2 TEST2</p>
        <p>TEST2 TEST2  TEST2 TEST2 TEST2 TEST2 TEST2 TEST2 TEST2 TEST2 TEST2 TEST2 TEST2 TEST2 TEST2</p>
        <p>TEST2 TEST2  TEST2 TEST2 TEST2 TEST2 TEST2 TEST2 TEST2 TEST2 TEST2 TEST2 TEST2 TEST2 TEST2</p>
        <p>TEST2 TEST2  TEST2 TEST2 TEST2 TEST2 TEST2 TEST2 TEST2 TEST2 TEST2 TEST2 TEST2 TEST2 TEST2</p>
        <p>TEST2 TEST2  TEST2 TEST2 TEST2 TEST2 TEST2 TEST2 TEST2 TEST2 TEST2 TEST2 TEST2 TEST2 TEST2</p>
    </div>
</div>