<div class="col-md-7 col-lg-7 col-md-offset-1 col-lg-offset-1">
    <h3>UPDATE BOOK</h3>

    <form class="form-inline">
        <div class="form-group" ng-init="menu.bookIdFun()">
           <input type="text" class="form-control" placeholder="BOOK NAME" ng-model="menu.updateName">
            <input type="text" class="form-control" placeholder="AUTHOR NAME" ng-model="menu.updateAuthor">
            <input type="date" class="form-control" placeholder="DATA" ng-model="menu.updateNewData" value="{{menu.updateData| date: 'yyyy-MM-dd'}}">
            <button type="submit" class="btn btn-success"
                    ng-click="menu.updateBook(menu.updateID, menu.updateName, menu.updateAuthor, menu.updateNewData)"><i
                    class="fa fa-plus-circle"></i> UPDATE BOOK
            </button>
        </div>
    </form>
</div>